
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-plus-circle fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Active Category</p>
                    <h6 class="mb-0">@ViewBag.activeCategory</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-minus-circle fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Passive Category</p>
                    <h6 class="mb-0">@ViewBag.passiveCategory</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-building fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Category "Rent"</p>
                    <h6 class="mb-0">@ViewBag.rentCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-building fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Daily Rent</p>
                    <h6 class="mb-0">@ViewBag.dailyRent</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Weeekly Rent</p>
                    <h6 class="mb-0">@ViewBag.weeklyRent</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calendar fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Category "Buy"</p>
                    <h6 class="mb-0">@ViewBag.buyCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>



